# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# PyCharm project files
.idea/

# VS Code settings
.vscode/

# macOS and system files
.DS_Store
Thumbs.db

# Logs
*.log

# Test and coverage reports
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
